.flexipay-error-title{
    padding: 8px 18px;  
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-family: sans-serif;
    color: red;
}

#flexipayButton{
    padding: 8px 18px;  
    font-size: 14px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    background-color: #7fb1bf;
    width: 6%;
    border-radius: 8px;
}